<?php
/**
 * La configuration de base de votre installation WordPress.
 *
 * Le script de création wp-config.php utilise ce fichier lors de l'installation.
 * Vous n'avez pas à utiliser l'interface web, vous pouvez directement
 * renommer ce fichier en "wp-config.php" et remplir les variables à la main.
 * 
 * Ce fichier contient les configurations suivantes :
 * 
 * * réglages MySQL ;
 * * clefs secrètes ;
 * * préfixe de tables de la base de données ;
 * * ABSPATH.
 * 
 * @link https://codex.wordpress.org/Editing_wp-config.php 
 * 
 * @package WordPress
 */

// ** Réglages MySQL - Votre hébergeur doit vous fournir ces informations. ** //
/** Nom de la base de données de WordPress. */
define('DB_NAME', "{{wp_db_name}}");

/** Utilisateur de la base de données MySQL. */
define('DB_USER', "{{wp_db_user}}");

/** Mot de passe de la base de données MySQL. */
define('DB_PASSWORD', "{{wp_db_password}}");

/** Adresse de l'hébergement MySQL. */
define('DB_HOST', "{{wp_mysql_host}}");

/** Jeu de caractères à utiliser par la base de données lors de la création des tables. */
define('DB_CHARSET', 'utf8');

/** Type de collation de la base de données. 
  * N'y touchez que si vous savez ce que vous faites. 
  */
define('DB_COLLATE', '');

/**#@+
 * Clefs uniques d'authentification et salage.
 *
 * Remplacez les valeurs par défaut par des phrases uniques !
 * Vous pouvez générer des phrases aléatoires en utilisant 
 * {@link https://api.wordpress.org/secret-key/1.1/salt/ le service de clefs secrètes de WordPress.org}.
 * Vous pouvez modifier ces phrases à n'importe quel moment, afin d'invalider tous les cookies existants.
 * Cela forcera également tous les utilisateurs à se reconnecter.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         ';Y[s^.Vi^ Qi9%gh?(7X3X`E7@E|8SU}]6bQ?bJBD@t* F=Gge!_4V6qB$Yh1Eyh');
define('SECURE_AUTH_KEY',  'q#ADC$hx^(7*ht@^[XQ_&(<CI9<!kE]YqO.roa,<)wnA 9BF4q`mo@TH?IO&I-]0');
define('LOGGED_IN_KEY',    'Y{YB;+LX-t&Ay?hr`UyGopZ~yN3qUR/XZWU?6~l7gtFov>4P8m0.LrCuut+Sl{4Z');
define('NONCE_KEY',        'V~.hD7oz;J?kWs9y2)Lo1VN;9Iv=Rz`EBPw2l*fMS3]S,?-js?5BL7.R9+/%ek*+');
define('AUTH_SALT',        ';{ObVEeRP.|?Q]r(:6Jdx7*e7 l~*@aHFP7t=EUq3?3CB`k,t{lGuN^Z~G&?2]Q%');
define('SECURE_AUTH_SALT', 'xkIs#M*0qq0r|8_,;034f3V`=]_bK+[3QYXV%0ax+|Z5v%l3n]P|jq6}Dx9Q oG5');
define('LOGGED_IN_SALT',   '~W*-VDa^&SI%Bf#AT`fXD+[[P@Aj<#j|2N=#L9B*)30z:hzpw3pvQnz^)VljIo%8');
define('NONCE_SALT',       'P+@ yTyV4cYet/jnq6B1Laa+,]T(_`n?p1z]/m7XAj{K+xBKK-lcL2&OT6|[hUzl');
/**#@-*/

/**
 * Préfixe de base de données pour les tables de WordPress.
 *
 * Vous pouvez installer plusieurs WordPress sur une seule base de données
 * si vous leur donnez chacune un préfixe unique. 
 * N'utilisez que des chiffres, des lettres non-accentuées, et des caractères soulignés!
 */
$table_prefix  = 'wp_';

/** 
 * Pour les développeurs : le mode déboguage de WordPress.
 * 
 * En passant la valeur suivante à "true", vous activez l'affichage des
 * notifications d'erreurs pendant votre essais.
 * Il est fortemment recommandé que les développeurs d'extensions et
 * de thèmes se servent de WP_DEBUG dans leur environnement de 
 * développement.
 * 
 * Pour obtenir plus d'information sur les constantes 
 * qui peuvent être utilisée pour le déboguage, consultez le Codex.
 * 
 * @link https://codex.wordpress.org/Debugging_in_WordPress 
 */ 
define('WP_DEBUG', false); 

/* C'est tout, ne touchez pas à ce qui suit ! Bon blogging ! */
define('WP_ALLOW_REPAIR', true);

/** Chemin absolu vers le dossier de WordPress. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Réglage des variables de WordPress et de ses fichiers inclus. */
require_once(ABSPATH . 'wp-settings.php');